
body {
   margin: 0px;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.header {
   padding: 5pt;
}

.menuContainer {
   background-color: #262626;
   min-height: 88vh;
}

.menu {
   color: white;
   margin-top: 2%;
   margin-bottom: 15%;
}

.controlBar {
   bottom: 0;
   left: 0;
   right: 0;
   position: fixed;
}

.volume {
   margin-top: 10%;
   padding: 5%;
}

.trackInfo {
   padding: 5%;
}

.formContainer {
   border-radius: 30px;
   padding: 20pt;
   margin-top: 10%;
}

.formIcon {
   font-size: 1250%;
   padding: 0px;
}

.formControl input {
   border-radius: 5px;
   margin-bottom: 10pt;
   padding: 12px;
   cursor: pointer;
   color: white;
   background-color: #56b3ff;
}

.formControl input:hover {
   -webkit-transition: background-color 100ms linear;
   -ms-transition: background-color 100ms linear;
   transition: background-color 100ms linear;
   background-color: #0084cb;
}
